<div class="leftpanel">
    <div class="logopanel">
        <h1><span>Administration</span></h1>
    </div>
    <div class="leftpanelinner">
        <ul class="nav nav-pills nav-stacked nav-bracket">
            <li><a href=""><i class="fa fa-home"></i><span>Dashboard</span></a></li>
            <li><a href="{{ path('app_theme') }}"><span>Themes</span></a></li>
        </ul>
    </div>
</div>